/*
   Import partials below
*/
@import './normalize';

$main-font: 'Roboto', sans-serif;
$main-color: #498240;
$accent-color : #03A9F4;
$p-font-size: 18px;

%box{
  margin: 50px;
  color: $main-color;
}

.first{
  @extend %box;
  &:hover{
    color: $accent-color;
  }
}

.second{
  @extend %box;
  font-size: $p-font-size;
}

