

.team__desc {
  margin: 0 auto;
  text-align: center;
  color: $serv-list-descr-color;
  padding: 45px 0 95px;
  width: 950px;
  font-size: 15px;
  font-family: $description_italic_font, sans-serif;

}

.team__img {
  width: 380px;
  height: 470px;
  transition: transform 0.3s ease-in-out;
}

/* .team__img-1 { */
/* background-image: url("../img/portrait-1.jpg-min.png");
}
.team__img-2 {
  background-image: url("../img/portrait-2-min.jpg");
}
.team__img-3 {
  background-image: url("../img/portrait-3-min.jpg");
}  */

.team__person {
  position: relative;
}

.team__item {
  position: relative;
  width: 380px;
  height: 580px;

  &:hover .team__img {
    transform: translate(-10px, -10px);
  }

  &:hover .front__shadow {
    opacity: 1;
    overflow: auto;
  }
}


.team__list {
  @include flex-space;
  max-width: 1200px;
  padding-bottom: 45px;
  list-style: none;
}

.team__name {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 26px 0 12px;
  font-family: $main_font, sans-serif;
}

.team__deg {
  font-family: $description_italic_font, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  text-transform: capitalize;
  color: $serv-list-descr-color;
  text-align: center;
}


.back__shadow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $person-back-color;
  width: 380px;
  height: 470px;
  z-index: -1;
}

.front__shadow {
  position: absolute;
  top: 0;
  width: 380px;
  height: 470px;
  background: $person-gradient;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s linear;
  z-index: 20;
}

/* SUB MENU */

.sub__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.sub__list {
  list-style: none;
  @include flex-space($space: none);
  width: 227px;
  padding: 0;
}

.sub__list svg {
  width: 26px;
  height: 26px;
  fill: $def-sub-icon-color;
  transition: fill 0.3s ease-in-out;
}

.sub__item {
  width: 56px;
  height: 56px;
  background-color: $def-sub-back-color;
  @extend %vert-centr-flex;
  text-align: center;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-sub-back-color;
  }

  &:hover svg {
    fill: $hover-sub-icon-color;
  }
}

main::after {
  content: '';
  display: block;
  clear: both;
  height: 1px;
  width: 1200px;
  margin: 0 auto;
  border: none;
  background-color: $main-underline-color;
}
