* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

/* HEADER */

.container {
  max-width: 940px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 108px;
  padding: 40px 0 0 0;
  align-items: baseline;
}
.logo_img {
  height: 30px;
}
.nav_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-width: 485px;
}
.nav_item {
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
  transition: color 0.2s linear;
}
.nav_item:hover {
  color: #fed136;
}

/* MAIN */

.title {
  font-family: "Montserrat" sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 85px 0 0 0;
}
.title_decsr {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-style: italic;
  color: #777777;
  text-align: center;
  padding: 20px;
}

.serv_list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.serv_item{
    width: 290px;
    text-align: center;
    padding-top: 60px;
}

.serv_title {
  text-transform: capitalize;
  font-family: "Montserrat" sans-serif;
  font-size: 18px;
  margin: 26px 0 18px;
}
.icon_border{
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 3px #fed136 solid;
    border-radius: 50%;
    position: relative;
}
.serv_img {
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
.serv_descr{
    font-family: 'Roboto Slab' sans-serif;
    font-size: 14px;
    color: #777777;
}

/* SECOND part */

.title_2{
  padding-top: 95px;
  color: #ffffff;
}

.dark{
  background: #222222;
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../img/Map.png);
  background-repeat: no-repeat;
  background-position-x: 100%; 
  background-position-y: 100%; 
}
.form{
  margin: 60px 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.left_inps{
  padding: 0;
  display: inline-block;
  width: 455px;
  margin-right: 30px;

}
.small_inp{
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}
.mess_text{
  width: 455px;
  height: 210px;
}
.small_inp, .mess_text{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  color: rgb(187, 187, 187);

  padding: 20px; 
  font-size: 14px;
  font-family: "Montserrat" sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.sub_btn{
  width: 240px;
  height: 60px;
  color: #ffffff;
  border: none;
  background-color: #fed136;
  margin: 0 auto 115px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

input:focus:valid {
  outline: 2px solid green;
}

input:focus:invalid {
  outline: 2px solid red;

}
textarea:focus:valid {
  outline: 2px solid green;
}

textarea:focus:invalid {
  outline: 2px solid red;

}

