* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.first{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: #ffffff;
}

.left{
    background: yellowgreen;
    height: 70px;
    padding: 24px;

}
.right{
    background: blue;
    height: 70px;
    padding: 24px;
}

/* SECOND */
.grid_list{
    width: 100%;
    margin: 0 auto;
    list-style:none ;
}
.grid_item{
    height: 70px;
    text-align: center;
    color: #ffffff;
    background: teal;
    padding: 24px;
}
.grid_item:nth-of-type(even){
    background: firebrick;
}
@media(min-width:768px){
    .left, .right{
        height: 140px;
        padding: 59px;
    }
    .right{
        height: 140px;
    }
}

/* THIRD */

.list_container{
    width: 800px;
    height: 400px;
    margin: 50px auto 30px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    background: #222222;
    border: 5px solid #222222;
    object-fit: cover;
    background-repeat: no-repeat;
}
.list_item{
    background: teal;
}
.list_item_1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    background-image: url(./img/1.jpg);
    background-position-y: 70%;
    
}
.list_item_2{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 5;
    background-image: url(./img/2.jpg);
    background-position-y: 50%;

}
.list_item_3{
    background-image: url(./img/3.jpg);
}
.list_item_4{
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 5;
    background-image: url(./img/4.jpg);
    background-position-x: 63%;
}
.list_item_5{
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(./img/placeimg_250_250_arch.jpg);
    background-position-x: 40%;
}
.list_item_6{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 4;
    background-image: url(./img/5.jpg);
}