* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
body {
  padding-bottom: 30px;
}
.logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  margin: 0 auto;
  letter-spacing: 2px;
}
.header {
  background-image: url(./img/des-foto.png);
  background-color: rgb(26, 25, 21);
  width: 100%;
  height: 540px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: #ffffff;
}
.nav {
  height: 230px;
  padding-top: 20px;
}
.logo_1 {
  order: 2;
}
.logo_2 {
  height: 40px;
  padding-top: 10px;
}
.login_btn {
  font-size: 14px;
  font-weight: bold;
  border: none;
  background: none;
  color: #ffffff;
  height: 40px;
  width: 94px;
  order: 1;
}
.login_btn:hover {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
}
h1 {
  font-size: 30px;
  max-width: 330px;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 2px;
}
.head_title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 20px 0;
  width: 60%;
  margin: 0 auto;
  letter-spacing: 1px;
}
.finder_btn {
  border: none;
  background: #ff4e50;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  width: 280px;
  height: 40px;
  border-radius: 20px;
}
.small_title {
  margin: 70px auto 0;
  width: 65%;
  color: #333333;
  font-size: 20px;
}
.part_list {
  padding-bottom: 30px;
  color: #333333;
}

.part_list_item {
  text-align: center;
  width: 270px;
  margin: 20px auto 0;
  list-style: none;
}
.img_wrapper {
  width: 122px;
  margin: 0 auto 20px;
  position: relative;
}
.img_wrapper::after {
  content: "";
  background-repeat: no-repeat;
  background-position: 49%;
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.img_wrapper_1::after {
  background-image: url(./img/tel.png);
  background-color: #ff4e50;
}
.img_wrapper_2::after {
  background-image: url(./img/bottle.png);
  background-color: #ffa507;
}
.img_wrapper_3::after {
  background-image: url(./img/cup.png);
  background-color: #1cd7ad;
}
.img_wrapper_4::after {
  background-image: url(./img/plane.png);
  background-color: #4e73db;
}
.part_img {
  width: 122px;
  height: auto;
}

.part_name {
  font-weight: bold;
  font-size: 14px;
}
.part_descr {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  color: #666666;
}
.see_more_btn {
  color: #ff4e50;
  font-weight: bold;
  background: none;
  border: 2px solid #ff4e50;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .header {
    height: 700px;
  }
  .logo_1 {
    order: 1;
  }
  .login_btns {
    order: 2;
    padding: 0;
  }
  .nav {
    height: 225px;
  }
  .finder_btn {
    width: 226px;
  }
  .head_title {
    padding: 30px 0 40px;
  }
  h1 {
    font-size: 40px;
    max-width: 400px;
  }
  .container_2 {
    width: 71%;
    margin: 0 auto;
  }
  .small_title{
    padding-bottom: 10px;
  }
}
@media (min-width: 992px){
    .part_list_item{
      max-width: 220px;
    }
    .container_2{
      width: 940px;
    }
}
