* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.navigation {
    font-size: 0;
    text-align: center;
}

.nav__item {
    padding: 10px 20px;
    text-decoration: none;
    background: green;
    color: #fff;
    font-size: 20px;
    display: inline-block;
}



.nav__item:hover {
    color: yellow ;
    background: indigo;
}


.nav__item:focus {
    background: #000;
}


.product__item {
    max-width: 400px;
    float: left;
    margin-bottom: 40px;


}

.product__item:not(:nth-of-type(2n)) {
    margin-right: 158px;
}

.product__item:nth-last-of-type(odd) {
    border: 2px solid green;
}

.product__list:nth-child(2) {
    border: 1px solid greenyellow;
    /* єдтне що працює */
}




.product__list {
    background-image: linear-gradient(135deg, rgba(240, 183, 161, 0.67) 0%,rgba(21, 13, 109, 0.57) 5%,rgba(193, 1, 123, 0.6784313725490196) 100%,rgba(191, 110, 78, 0.5803921568627451) 100%), url("./img/image.jpg");
}


.img__wrapper {
    width: 200px;
    height: 200px;
    float: left;
}
h1, h2, h3 {
    text-align: center;
}
.product__img {
    min-height: 200px;
}
.product__lits:nth-child(2) {
    border: 1px solid blueviolet;
}