* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FIRST */

h2 {
  text-align: center;
  padding: 20px 0;
}
.container {
  height: 700px;
  max-width: 960px;
  margin: 0 auto;
}
.header {
  display: block;
  width: 100%;
  background: yellow;
  height: 100px;
  margin-bottom: 20px;
}
.box {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.left {
  background: blue;
  width: 54%;
  height: 100%;
}
.center {
  height: 100%;
  background: gray;
  width: 21%;
}
.right {
  height: 100%;
  width: 21%;
  background: red;
}
.footer {
  width: 100%;
  height: 100px;
  background: green;
  margin-top: 20px;
}

/* SECOND */

.container_2 {
  padding: 20px 0;
}
.first {
  height: 200px;
  background: indianred;
}
.second {
  height: 200px;
  background: teal;
}
@media (min-width: 768px) {
  .container_2 {
    display: flex;
    flex-flow: row;
  }
  .first {
    width: 80%;
  }
  .second {
    width: 20%;
  }
}

/* THIRD */

.div_1 {
  background: hotpink;
  height: 200px;
  margin: 10px 0 0 10px;
}
.div_2 {
  background: navy;
  height: 200px;
  margin: 10px 0 0 10px;
}
.div_3 {
  background: chartreuse;
  height: 100px;
  margin: 10px 0 0 10px;
}
@media (min-width: 768px) {
  .sides {
    width: 100%;
    display: flex;
    flex-flow: row;
    height: 400px;
  }
  .div_2 {
    width: 40%;
    height: 100%;
  }
  .div_3 {
    width: 60%;
    height: 100%;
  }
}


/* LAST */

.picture{
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-position: 50%, 100%;
    background-repeat: no-repeat;
    background-image: url(./img/beach-clear-sky-dawn-1032650.jpg);
}
@media(min-width:480px){
    .picture{
    background-image: url(./img/animal-colorful-colourful-40984.jpg);
    background-position-y: 0; 
    }
}
@media(min-width:768px){
    .picture{
    background-image: url(./img/beach-blue-sky-coconut-1.jpg);
    background-position-y: 50%;
    }
}
@media(min-width:1200px){
    .picture{
    background-image: url(./img/boat-cruise-deck-1167023.jpg);
    }
}
