*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box{
  width: 80%;
  height: 400px;
  margin: 0 auto;
  border: 2px solid teal;
  background: url(./img/nature.jpg);
  background-repeat: no-repeat;
}
@media (min-resolution: 192dpi) {
  .box{
    background: url(./img/placeimg_800_400_arch.jpg);
  }
}